{% extends 'blank_layout.html' %}
{% block carousel %}
    <!-- Carousel Start -->
    {% include 'Carousel_layout.html' %}
    <!-- Carousel End -->
    {% endblock %}
    
    {% block featured %}
    <!-- Featured Start -->
    {% include 'feature.html' %}
    <!-- Featured End -->
    {% endblock %}

    {% block Categories %}
    <!-- Categories Start -->
    {% include 'categories_layout.html' %}
    <!-- Categories End -->
     {%  endblock  %}

    {% block product %}
    <!-- Products Start -->
    {% include 'Product_layout.html' %}
    <!-- Products End -->
    {% endblock %}

    

    {% block recent_products %}
    <!-- Products Start -->
    {% include 'recent_products_layout.html' %}
    
    <!-- Products End -->
     {% endblock %}
    
    {% block offer %}
    <!-- Offer Start -->
    {% include 'offer.html' %}
    <!-- Offer End -->
    {% endblock %}

    {% block vendor %}
    <!-- Vendor Start -->
    {% include 'vendor.html' %}
    <!-- Vendor End -->
    {% endblock %}
