{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="left-panel">
            <h1>Welcome to MeShop</h1>
            <p>Join us today and enjoy exclusive benefits.</p>
        </div>
        <div class="right-panel">
            <div class="login-box">
                
                <h2>SignUp User</h2>
                {% if messages %}
                <div class="alert-container">
                    <ul>
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" minlength="3" maxlength="10" required placeholder="Username">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="email" required name="email" placeholder="Email">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="text" required minlength="10" name="phone" placeholder="Phone">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" required name="address" placeholder="Address">
                    </div>
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" minlength="8" required placeholder="Password">
                    </div>
                    <div class="options">
                        <label>
                            <input type="checkbox"> Remember
                        </label>
                        <a href="{% url 'login' %}">Old User? SignIn</a>
                    </div>
                    <button type="submit" name="register" class="login-btn">SIGNUP</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>